* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222222;
}

h1, h2 {
    text-align: center;
    color: #eeeeee;
}

main {
    display: flex;
    flex-direction: row;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20%;
}

#jogos {
    background-color: red;
    width: 850px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.linha_jogo {
    display: flex;
    flex-direction: row;
}

.jogo {
    width: 200px;
    height: 270px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.cartela table {
    border-collapse: collapse;
    width: 200px;
    height: 250px;
    background-color: purple;
}
.cartela table tr td {
    text-align: center;
    border: solid 1px black;
}

.letra_titulo_cartela {
    font-weight: bold;
}

#painel_resultados {
    width: 100%;
    height: 100px;
    background-color: aqua;
}